<div class="page-container product-page">

    <div class="row cart-list">
        <div class="col-md-9">
            <table class="table table-bordered table-cart">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Product Name</th>
                        <th>Unit Price</th>
                        <th class="qty">QTY</th>
                        <th>Sub Total</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td><img src="images/products/product-2.jpg" /></td>
                        <td>Product Name 1</td>
                        <td class="text-right">10.00 KD</td>
                        <td>
                            <div class="input-group">
                                <span class="input-group-text" id="moins" onclick="minus()">-</span>
                                <input type="text" class="form-control addqnty" size="25" value="1" id="count">
                                <span class="input-group-text" id="plus" onclick="plus()">+</span>
                            </div>
                        </td>
                        <td class="text-right">50.000 KD</td>
                        <td class="text-center"><button class="btn btn-outline-danger btn-sm"><i class="fa fa-trash-o"></i></button></td>
                    </tr>

                    <tr>
                        <td><img src="images/products/product-14.jpg" /></td>
                        <td>Product Name 1</td>
                        <td class="text-right">10.00 KD</td>
                        <td>
                            <div class="input-group">
                                <span class="input-group-text" id="moins" onclick="minus()">-</span>
                                <input type="text" class="form-control addqnty" size="25" value="1" id="count">
                                <span class="input-group-text" id="plus" onclick="plus()">+</span>
                            </div>
                        </td>
                        <td class="text-right">50.000 KD</td>
                        <td class="text-center"><button class="btn btn-outline-danger btn-sm"><i class="fa fa-trash-o"></i></button></td>
                    </tr>

                    <tr>
                        <td><img src="images/products/product-16.jpg" /></td>
                        <td>Product Name 1</td>
                        <td class="text-right">10.00 KD</td>
                        <td>
                            <div class="input-group">
                                <span class="input-group-text" id="moins" onclick="minus()">-</span>
                                <input type="text" class="form-control addqnty" size="25" value="1" id="count">
                                <span class="input-group-text" id="plus" onclick="plus()">+</span>
                            </div>
                        </td>
                        <td class="text-right">50.000 KD</td>
                        <td class="text-center"><button class="btn btn-outline-danger btn-sm"><i class="fa fa-trash-o"></i></button></td>
                    </tr>
                    <tr>
                        <td><img src="images/products/product-12.jpg" /></td>
                        <td>Product Name 1</td>
                        <td class="text-right">10.00 KD</td>
                        <td>
                            <div class="input-group">
                                <span class="input-group-text" id="moins" onclick="minus()">-</span>
                                <input type="text" class="form-control addqnty" size="25" value="1" id="count">
                                <span class="input-group-text" id="plus" onclick="plus()">+</span>
                            </div>
                        </td>
                        <td class="text-right">50.000 KD</td>
                        <td class="text-center"><button class="btn btn-outline-danger btn-sm"><i class="fa fa-trash-o"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-3">
            <div class="checkout-detais">
                <div class="order-summary">
                    <h4 class="summary-text">Order Summary</h4>
                    <div class="d-flex">
                        <span class="w-50">Sub Total (2 Items)</span>
                        <span class="w-50 text-right">20.000 KD</span>
                    </div>

                    <div class="d-flex">
                        <span class="w-50">Delevery Charges</span>
                        <span class="w-50 text-right">2.000 KD</span>
                    </div>

                    <div class="d-flex summary-total">
                        <span class="w-50">Total</span>
                        <span class="w-50 text-right">22.000 KD</span>
                    </div>

                    <button class="btn btn-secondary w-100 mt-2"> Proceed Payment</button>
                </div>

                <div class="summary-desc">
                    <p>We are a team of designers and developers that create high quality</p>
                    <p>We are a team of designers and developers that create high quality</p>
                </div>
            </div>
        </div>

        <div class="col-md-12 d-flex">
            <div class="col mr-auto">
                <button class="btn btn-primary">Continue Shoping</button>
            </div>
            <div class="col text-right">
                <button class="btn btn-success">Update Cart</button>
                <button class="btn btn-info">Checkout</button>
            </div>
        </div>
    </div>


</div>